@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(Inconsolata.woff) format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'), url(Inconsolata-Bold.woff) format('woff');
}

body {
  font-family: Inconsolata;
}

footer {
  text-align: right;
}

button {
  font-size: 15px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.pv-input {
  font-family: Inconsolata;
  font-size: 16px;
  padding: 2px 3px; /* Needed to stop boxes growing with font-size on iOS */
  width: 70%;
  text-overflow: ellipsis;
  float: left;
}

.pv-input:disabled, .pv-value:disabled {
  color: black;
  background-color: transparent;
  border-color: transparent;
  opacity: 1.0;
  -webkit-text-fill-color: black;
}

.pv-value {
  font-family: Inconsolata;
  font-size: 16px;
  padding: 2px 0;
  width: 25%;
  text-align: right;
}

.pv-button {
  width: 25%;
  float: right;
}

.wide-button-container {
  text-align: center;
}

.wide-button {
  width: 100%;
}
