<!DOCTYPE html>
<html>
  <head>
    <title>Web EPICS</title>

    <link rel='stylesheet' href='{{ url_for("static", filename="css/style.css") }}' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src='{{ url_for("static", filename="js/jquery.js") }}'></script>
    <script src='{{ url_for("static", filename="js/knockout.js") }}'></script>
    <script src='{{ url_for("static", filename="js/socket.io.js") }}'></script>
    <script src='{{ url_for("static", filename="js/highcharts.js") }}'></script>

    <script>

      Highcharts.setOptions({
        global: {
          timezoneOffset: (new Date()).getTimezoneOffset()
        }
      })

      ko.extenders.precision = function(target, precisions) {
          var result = ko.dependentObservable({
            read: function() {
              var value = target()
              if (value === null) {
                return ''
              }
              var precision
              if (value.toString() === value.toExponential()) {
                precision = precisions.exponential
              } else {
                precision = precisions.float
              }
              return target().toPrecision(precision)
            },
            write: target
          })
          result.raw = target
          return result
      }

      var socket = io.connect()
      var chart = null

      function PV(name) {
        var self = this
        self.name = ko.observable(name)
        self.value = ko.observable(null).extend({precision: {float: 8, exponential: 4}})
        self.addToChart = function() {
          chart.addSeries({
            id: self.name(),
            name: self.name(),
            data: []
          })
        }
        self.removeFromChart = function() {
          var series = chart.get(this.name())
          if(series) {
            series.remove()
          }
        }
        self.name.subscribe(function(newName) {
          self.addToChart()
          socket.emit('add monitor', {'pv': newName})
        })
        self.name.subscribe(function(oldName) {
          socket.emit('remove monitor', {'pv': oldName})
          self.removeFromChart()
        }, this, 'beforeChange')
        self.removeMonitor = function() {
          socket.emit('remove monitor', {'pv': self.name()})
        }
        self.addToChart()
        socket.emit('add monitor', {'pv': name})
      }

      function ViewModel() {
        var self = this
        self.editing = ko.observable(false)
        self.chartRange = ko.observable('30000')
        self.logAxis = ko.observable(false)
        self.logAxis.subscribe(function(logAxis) {
          var type = logAxis ? 'logarithmic' : 'linear'
          chart.yAxis[0].update({type: type})
        })
        self.pvs = ko.observableArray([ ])
        self.pvToAdd = ko.observable('')
        self.pvWithName = function(name) {
          return ko.utils.arrayFirst(self.pvs(), function(pv) { return pv.name() === name })
        }
        self.addPV = function() {
          var name = self.pvToAdd().trim()
          if (!name.length) return
          if (self.pvWithName(name)) {
            alert('PV already added.')
            return
          }
          self.pvs.push(new PV(name))
          self.pvToAdd('')
        }
        self.removePV = function() {
          this.removeMonitor()
          this.removeFromChart()
          self.pvs.remove(this)
        }
      }

      var viewModel = new ViewModel()

      socket.on('update', function(data) {
        var pv = viewModel.pvWithName(data.pv)
        if (pv) {
          pv.value(data.value)
        }
        var series = chart.get(data.pv)
        if(series) {
          series.addPoint([1000 * data.time, data.value])
          if(series.data.length > 300) {
            series.data[0].remove()
          }
        }
      })

      function setXAxisRange() {
        var axis = chart.xAxis[0]
        var currentExtremes = axis.getExtremes()
        if (viewModel.chartRange() === 'freeze') {
          axis.setExtremes(currentExtremes.min, currentExtremes.max)
        } else {
          var padding = 1500
          var now = Math.max((new Date()).getTime(), currentExtremes.dataMax)
          var low = now - viewModel.chartRange() - padding
          axis.setExtremes(low, now + padding)
        }
        setTimeout(setXAxisRange, 1000)
      }

      $(document).ready(function() {

        ko.applyBindings(viewModel)

        $('#start-edit-button').click(function() { viewModel.editing(true) } )
        $('#end-edit-button').click(function() { viewModel.editing(false) } )

        chart = $('#chart').highcharts({
          title: null,
          chart: {
            animation: false
          },
          xAxis: {
            type: 'datetime'
          },
          yAxis: {
            labels: { formatter: function() { return this.value } }
          }
        }).highcharts()

        viewModel.pvs.push(new PV('SR11BCM01:CURRENT_MONITOR'))
        viewModel.pvs.push(new PV('SR11BCM01:SHORT_LIFETIME_MONITOR'))
        viewModel.pvs.push(new PV('SR03IPC03:CHAN01_PRESSURE_MONITOR'))

        setXAxisRange()

      })

    </script>
  </head>
  <body>
    <div class='container'>

      <div data-bind='foreach: pvs'>
        <div class='clearfix'>
          <input type='text' class='pv-input' data-bind='value: name, enable: $parent.editing'/>
          <input class='pv-value' disabled data-bind='value: value, visible: !$parent.editing()' />
          <button class='pv-button' data-bind='click: $parent.removePV, visible: $parent.editing'>Del</button>
        </div>
      </div>
      <form class='clearfix' data-bind='submit: addPV, visible: editing'>
        <input type='text' class='pv-input' data-bind='value: pvToAdd'/>
        <button type='submit' class='pv-button'>Add</button>
      </form>
      <div class='wide-button-container'>
        <button id='end-edit-button' class='wide-button' data-bind='visible: editing'>Done</button>
        <button id='start-edit-button' class='wide-button' data-bind='visible: !editing()'>Edit PVs</button>
      </div>
      <div id='chart'></div>
      <div>
        <label>
          <input type='radio' name='chart-range' value='300000' data-bind='checked: chartRange'>
          5 min
        </label>
        <label>
          <input type='radio' name='chart-range' value='60000' data-bind='checked: chartRange'>
          1 min
        </label>
        <label>
          <input type='radio' name='chart-range' value='30000' data-bind='checked: chartRange'>
          30 sec
        </label>
        <label>
          <input type='radio' name='chart-range' value='freeze' data-bind='checked: chartRange'>
          Pause
        </label>
      </div>
      <div>
        <label>
          <input type='checkbox' data-bind='checked: logAxis'>
          Logarithmic
        </label>
      </div>
    </div>
  </body>
</html>
